<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>

{% if request.user.username %}
    <h1>Welcome {{ request.user.username }}  <a href="/users/logout">Logout</a></h1>
{% endif %}

<ol>
    {% for todo in todos %}
        <li>
            <h1>{{ todo.name }}</h1>
            <p>{{ todo.description }}</p>
            {% for tag in todo.tags.all %}
                +{{ tag.name }}
            {% endfor  %}
            <p>&nbsp;&nbsp;&nbsp; written by: {{ todo.owner.username }}</p>
        </li>
    {% endfor %}
</ol>


{% if form %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
{% endif %}

</body>
</html>